<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="orgName" value="tezs" />
		<add key="personalAccessToken" value="XXXXXXXXX" />
		<add key="projectDescriptor" value="scp.XXXXXX"/>
    <add key="operation" value="GetProjects" />
    <add key="exclusionRoles" value="Lead Developer,Lead DBA,Technical Writers" />
	</appSettings>
</configuration>